@font-face {
    font-family: 'magneto';
    src: url('/img/magneto.ttf');
}

/*
    HTML Elements
*/

:root{
    box-sizing:border-box;
}
*,*:before,*:after{box-sizing:inherit;}
body {
    margin: 0;
    background-color: #111111;
}
body > * {
    vertical-align: top;
}
header {
    display: block;
    height: 100px;
    text-align: center;
}
h1, h2 {
    margin: 0;
    padding: 30px 50px;
    font-family: Courier, monospace;
    text-align: center;
    color: #f5f5f5;
}
h2 {
    text-align: left;
    padding: 10px 0;
}
hr {
    display: block;
    width: 100%;
    height: 8px;
    border: none;
    background-color: rgb(129, 1, 44);
}
input[type="text"].card,
input[type="tel"].card,
input[type="email"].card {
    border: 3px solid white;
}

/*
    Custom Styles
*/
#contentSection {
    margin: 0 auto;
    padding-bottom: 30px;
    width: calc(100% - 120px);
}
.carpet {
    background-image: url("/img/carpet32x_grey.png");
    background-size: 550px;
    image-rendering: pixelated;
    box-shadow: inset 0px 0px 50px 0px #000000;
}
.carpet.red {
    background-image: url("/img/carpet32x_red.png");
}
.carpet.gold {
    background-image: url("/img/carpet32x_gold1.png");
}
.carpet.blended {
    background-image: url("/img/carpet32x_blended.png");
}

.fullImage {
    height: 100%;
}

.panel {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 60px;
}

h1.title {
    margin: 0;
    padding: 30px 50px;
    font-size: 50px;
}

.goldName {
    color: rgb(255, 202, 103);
    font-weight: 900;
}

#cinemaScreen {
    height: 60px;
    padding-top: 5px;
    background-color: rgb(129, 1, 44);
    font-family: Courier, monospace;
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: -50px;
    overflow: hidden;
}
#cinemaScreen .curve {
    padding-top: 5px;
}
#cinemaScreen .curve::after {
    display: block;
    content: "";
    background-color: #111111;
    height: 60px;
    margin-left: -10%;
    border-radius: 50%;
    width: 120%;
}

#bookingInputDetails label {
    display: inline-block;
    width: 120px;
    font-family: Courier, monospace;
    font-size: 30px;
    color: white;
}
#bookingInputDetails input[type="text"],
#bookingInputDetails input[type="tel"],
#bookingInputDetails input[type="email"] {
    display: inline-block;
    width: 500px;
    height: 50px;
    padding: 20px;
    font-size: 20px;
}
#bookingCodeEle {
    text-decoration: underline;
}
div.legend {
    font-family: Courier, monospace;
    font-size: 30px;
    color: white;
}
div.legend * {
    vertical-align: middle;
}

.dotw {
    color: rgb(200, 255, 117);
}

/*
    Custom Blocks
*/
.card {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0 0 7px 0 #000000;
    font-size: 30px;
    font-family: Courier, monospace;
    text-align: left;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 20px;
    background-color: #333333;
    box-shadow: unset;
}
.card.carpet.blended:hover {
    background-image: url("/img/carpet32x_blended_light.png");
}

.btn {
    width: 60%;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
}

.seat {
    /*display: inline-block;*/
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #999999;
    font-family: Courier, monospace;
    color: white;
    text-shadow: 2px 2px 3px black;
}
.seat:hover {
    background-color: #555555;
    cursor: pointer;
}
.seat.space {
    margin-right: 20px;
}
.seat[data-full="true"] {
    background-color: rgb(167, 10, 62);
}
.seat[data-full="true"]:hover {
    cursor: not-allowed;
}
.seat[data-chosen="true"] {
    background-color: goldenrod;
}
.seat[data-chosen="true"]:hover {
    background-color: rgb(160, 117, 9);
    cursor: pointer;
}